
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



:root{
    --primary-color:#66545e;
}   

body{
    background:url(./background.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', social-mediasans-serif;
    color: var(--primary-color);
    

}



a{
    text-decoration: none;
    color: #7e9a9a;
}
.navbar{
    display: flex;
    background-color:#F0F8FF;
    color: #DCDCDC;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.logo, .navbar ul li{
    list-style: none;
    display: inline-block;
}
.navbar ul li{
    padding: 0 60px;
}

header{
    color: #a39193;
    text-align: center;
}
#about-me {
    color: #aa6f73;
}

#social-media div{
    max-width: 100px;
    color:#66545e;
    margin: auto;
}

footer{
    color:#66545e;
    margin-top: 100px;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 8%;
    
}

.container {
    padding: 2px 16px;
    color:#a39193;
    
}

.cat{
    margin-top: 130px;
    
}

.cat-img{
    width: 893px;
    margin: auto;
    border:solid 3px black;


}
.right{
    float: right;
    
}
.left{
    float: left;
    
}

@media(max-width: 1000px){
    section,footer,.logo,.card{
        display: none;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar ul li{
        display: block;
        padding:10px;
    }

}

