<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        h1 {
            color: red;
        }
    </style>
</head>

<body>
    <h1>LA LA LA LA LAAAAAAAAAL AAAAAAAAAA LALALALALA</h1>
    <h3>This page using handlesbar</h3>
    <h3>my name is: {{name}} {{last}}</h3>
    <script>
        console.log("IM ALSO INCLUDEEEEEEEEEEEEEEE JS FILE STLYE AS WELL");
    </script>
</body>

</html>