/* fonts */
@font-face {
    font-family: "Gotham";
    src: url(../fonts/GothamBook.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url(../Tesla/fonts/GothamMedium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url(../fonts/GothamBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
  }



/* Reset */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Main Styling */

body{
    color: #f4f4f4;
    font-family: "Gotham Medium";
    font-size: 19px;
    line-height: 17.5px;
}

a{
    /* color */
    text-decoration: none;
    color:#f4f4f4
}


/* background pictures */

.background{
    background: url('./img/model-3-hero.jfif') no-repeat center center/cover;
    height: 100vh; 
}

/* navbar */

.navbar{
    box-shadow: 0 0 0 transparent;
    overflow: auto; 
    /* check overflow */

}

.navbar .logo{
    /* display: inline-block */
    float: left;
    margin-top: -15px;
    margin-left:10px;
}
.navbar ul{
    list-style: none;
    text-align: center;
    margin-top: 20px;
    overflow-y: hidden;
}
/* .center{
    
} */
.navbar ul li{
    display: inline-block;
    margin:0 20px;

    
}

.content{
    text-align: center;
    margin-top:110px;
}

.navbar .right{
    clear: right;
    float: right;
    margin-top: -35px;
    
}

.content span{
    font-size: 50px;
}

.menu-icon{
    
    /*  */
}

.nav2{
    float: left;
}

.open-car{
    float: right;
    height: 100vh;
    background-color: #F2F2F2;
    width: 70%;
}

.safty{
    color:#171a20;
    float:left;
    width: 30%;
}
.safty span{
    font-family: "Gotham light";
}