/* fonts */
@font-face {
    font-family: "Gotham";
    src: url(../fonts/GothamBook.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url(../Tesla/fonts/GothamMedium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url(../fonts/GothamBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
  }



/* Reset */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* Main Styling */

body{
    color: #f4f4f4;
    font-family: "Gotham Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 23px;
    line-height: 17.5px;
    vertical-align:baseline;
    letter-spacing: -0.5px;
}

a{
    /* color */
    text-decoration: none;
    color:#f4f4f4
    
}
p{
    font-family: "Gotham Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height:21px;
    padding:0px 0px 14px;
    color: #393c41;
}


/* background pictures */

.background{
    background: url('./img/model-3-hero.jfif') no-repeat center center/cover;
    height: 100vh; 
}

/* navbar */

.navbar{
    box-shadow: 0 0 0 transparent;
    overflow: auto; 
    /* check overflow */

}

.navbar .logo{
    /* display: inline-block */
    float: left;
    margin-top: -15px;
    margin-left:10px;
}
.navbar ul{
    list-style: none;
    text-align: center;
    margin-top: 20px;
    overflow-y: hidden;
}
/* .center{
    
} */
.navbar ul li{
    display: inline-block;
    margin:0 20px;

    
}

.content{
    text-align: center;
    margin-top:110px;
}

.ground{
    text-align: center;
    position: relative;
    top:70%;
    height: 100px;
}
.area1{
    position: absolute;
    left:40%;
}
.area2{
    position: absolute;
    left:47%;
}
.area3{
    position: absolute;
    left:54%;
    
}

.ground button{
    margin: 0;
    position: absolute;
    left: 60%;
    color: #ffffff;
    border-color: #ffffff;
}
.ground button:hover{
    background-color: #ffffff;
    clor:#1f2228;
}
.ground .under{
    
    font-size: 12px;
    color: #ffffff;
    line-height: 18px;
    

}

.navbar .right{
    clear: right;
    float: right;
    margin-top: -35px;
    
}

.content span{
    font-size: 50px;
}

.menu-icon{
    
    /*  */
}

.nav2{
    float: left;
}

.open-car{
    float: right;
    height: 100vh;
    background-color: #F2F2F2;
    width: 77%;
}

.safty{
    color:#171a20;
    float:left;
    width: 20%;
    vertical-align:baseline;
    letter-spacing:-0.5px;
    margin-left: 50px;
    
}
.safty h2{
    font-size:17px;
    vertical-align:baseline;
    letter-spacing:-0.5px;
    font-family: "Gotham Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:500;
    line-height:21px;
    margin-top: -15px;
}

.safty h1{
    line-height:36px;
    font-weight:500;
    font-size:28px;
}

.safty p{
    font-family: "Gotham Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size:21px;
    line-height:21px;
    margin:0px 0px 16px;
    margin-top: 50px;
    padding:0px 0px 14px;
    font-weight:400;
    text-align:start;
    text-indent:0px;
    letter-spacing: 1px;
}

.box{
    margin-top: 40px;
    background-color: #eeeeee;
    border-radius: 15%;
    width: 90%;
    height: 450px;
}

.box .header{
    line-height:17.5px;
    padding: 30px;
    display: block;
    font-size:20px;
}

.box span{
    font-family: "Gotham Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size:14px;
line-height:21px;
font-weight:700;
text-align: left;
display: block;
padding-left: 50px;
}


.box .stars{
    bottom: 35px;
    position: relative;
    text-align: right;
    margin-right: 30px;
    font-size: 25px;

}

.box .text{
    font-size: 22px;
}
.box .mini{
    font-family:"Gotham Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:400;
}

.btns{
    margin-top: 100px;
    display: inline-block;
}

.btn{
    font-size: 12px;
    color:#171a20;
    height: 40px;
    line-height:14.4px;
    padding:1px 42px;
    display: inline-block;
    margin-left: 50%;
    text-align: center;
    background-color: transparent;
    border-radius: 100px;
    white-space: nowrap;
    border: 3px solid #393c41;
    cursor:pointer;

}

.btn:hover{
    background-color:  #393c41;
    color:#eeeeee
}

.btns img {
    font-size: 12px;
    line-height: 21px;
    border: solid 3px #393c41;
    border-radius: 50%;
    color:#171a20;
    
    
}
.btns span{
    font-family:"Gotham Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
.btns img:hover{
    background-color:  #393c41;
}

.page{
    height: 100vh;
    position: relative;
}



.page3 .top img{

    height: 80vh;
    max-width: 100%;
    

}
.page3 .bot{
    position: relative;
    height: 20vh;
    color: #171a20;
}
.bot h2{
    font-family: "Gotham Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    position: absolute;
    top: 20%;
    left: 33%;
    display: block;
    color: #171a20;
    font-size: 17px;    
}

.bot h1{
    position: absolute;
    top:32%;
    left:33%;
    line-height: 36px;
    font-size: 28px;
}

.bot .btn{
    position: absolute;
    margin: 0;
    left: 40%;
    top: 46%;
}


#bot-location{
    
    position: absolute;
    left:31.5%;
    top:45%
}

.bot span{
    color: #393c41;
    position: absolute;
    left:34%;
    top:50%;
    

}

.boxp{
    position: absolute;
    height: 15%;
    width: 20%;
    right:30%;
    top:20%;
    line-height:21px;
    font-size: 14px;

}
